/*
#app{
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-sarif;
    color: #4d4d44d;
}
a.active{
    color: orange;
}
nav{
    padding-top: 20px;
}
*/

#app{
    font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: darkslategray;
    min-width: 550px;
    max-width: 850px;
    margin: 0 auto;
}
a.active{
    color: coral;
}
nav{
    padding-top: 20px;
}